{% extends "base.html" %} {% block content %}
<div
  style="
    height: 55vh;
    background-image: url(https://coolwallpapers.me/picsup/5516264-curtain-wallpapers.jpg);
    background-size: cover;
    background-position: center;
  "
  class="position-relative w-100"
>
  <!-- hero -->
  <div
    class="position-absolute text-white d-flex flex-column align-items-start justify-content-center"
    style="
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.7);
    "
  >
    <div class="container center text-center">
      <h1 class="fw-bold">{{product}}</h1>
      <hr />
      <p class="lead fst-italic">Pilih Produk Kesukaan anda..</p>
    </div>
  </div>
</div>

<div class="container p-3 text-white">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    <div class="col">
      <a href="{% url "checkout" %}?name={{product}}" style="text-decoration: none; color: black">
        <div class="card shadow-sm">
          <img
            src="https://img.interiorgoodsdirect.com/image-system/zoom/venetian/venetian/window-half-1600/touched_by_design_premier_anthracite.jpg"
            alt=""
            srcset=""
          />

          <div class="card-body">
            <h3>Gorden 1</h3>
            <hr />
            <p class="card-text">
              Ini Adalah Deskripsi singkat mengenai produk dengan gambar diatas.
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="" style="text-decoration: none; color: black">
        <div class="card shadow-sm">
          <img
            src="https://img.interiorgoodsdirect.com/image-system/zoom/venetian/venetian/window-half-1600/touched_by_design_premier_anthracite.jpg"
            alt=""
            srcset=""
          />

          <div class="card-body">
            <h3>Gorden 2</h3>
            <hr />
            <p class="card-text">
              Ini Adalah Deskripsi singkat mengenai produk dengan gambar diatas.
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="" style="text-decoration: none; color: black">
        <div class="card shadow-sm">
          <img
            src="https://img.interiorgoodsdirect.com/image-system/zoom/venetian/venetian/window-half-1600/touched_by_design_premier_anthracite.jpg"
            alt=""
            srcset=""
          />

          <div class="card-body">
            <h3>Gorden 3</h3>
            <hr />
            <p class="card-text">
              Ini Adalah Deskripsi singkat mengenai produk dengan gambar diatas.
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="" style="text-decoration: none; color: black">
        <div class="card shadow-sm">
          <img
            src="https://img.interiorgoodsdirect.com/image-system/zoom/venetian/venetian/window-half-1600/touched_by_design_premier_anthracite.jpg"
            alt=""
            srcset=""
          />

          <div class="card-body">
            <h3>Gorden 4</h3>
            <hr />
            <p class="card-text">
              Ini Adalah Deskripsi singkat mengenai produk dengan gambar diatas.
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="" style="text-decoration: none; color: black">
        <div class="card shadow-sm">
          <img
            src="https://img.interiorgoodsdirect.com/image-system/zoom/venetian/venetian/window-half-1600/touched_by_design_premier_anthracite.jpg"
            alt=""
            srcset=""
          />

          <div class="card-body">
            <h3>Gorden 5</h3>
            <hr />
            <p class="card-text">
              Ini Adalah Deskripsi singkat mengenai produk dengan gambar diatas.
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="" style="text-decoration: none; color: black">
        <div class="card shadow-sm">
          <img
            src="https://img.interiorgoodsdirect.com/image-system/zoom/venetian/venetian/window-half-1600/touched_by_design_premier_anthracite.jpg"
            alt=""
            srcset=""
          />

          <div class="card-body">
            <h3>Gorden 6</h3>
            <hr />
            <p class="card-text">
              Ini Adalah Deskripsi singkat mengenai produk dengan gambar diatas.
            </p>
          </div>
        </div>
      </a>
    </div>
    
    <div class="col">
      <a href="" style="text-decoration: none; color: black">
        <div class="card shadow-sm">
          <img
            src="https://img.interiorgoodsdirect.com/image-system/zoom/venetian/venetian/window-half-1600/touched_by_design_premier_anthracite.jpg"
            alt=""
            srcset=""
          />

          <div class="card-body">
            <h3>Gorden 6</h3>
            <hr />
            <p class="card-text">
              Ini Adalah Deskripsi singkat mengenai produk dengan gambar diatas.
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="col">
      <a href="" style="text-decoration: none; color: black">
        <div class="card shadow-sm">
          <img
            src="https://img.interiorgoodsdirect.com/image-system/zoom/venetian/venetian/window-half-1600/touched_by_design_premier_anthracite.jpg"
            alt=""
            srcset=""
          />

          <div class="card-body">
            <h3>Gorden 6</h3>
            <hr />
            <p class="card-text">
              Ini Adalah Deskripsi singkat mengenai produk dengan gambar diatas.
            </p>
          </div>
        </div>
      </a>
    </div>
    
    <div class="col">
      <a href="" style="text-decoration: none; color: black">
        <div class="card shadow-sm">
          <img
            src="https://img.interiorgoodsdirect.com/image-system/zoom/venetian/venetian/window-half-1600/touched_by_design_premier_anthracite.jpg"
            alt=""
            srcset=""
          />

          <div class="card-body">
            <h3>Gorden 6</h3>
            <hr />
            <p class="card-text">
              Ini Adalah Deskripsi singkat mengenai produk dengan gambar diatas.
            </p>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
{% endblock content %}
