{% extends "base.html" %} {% block content %}
<div
  style="
    height: 55vh;
    background-image: url(https://coolwallpapers.me/picsup/5516264-curtain-wallpapers.jpg);
    background-size: cover;
    background-position: center;
  "
  class="position-relative w-100"
>
  <!-- hero -->
  <div
    class="position-absolute text-white d-flex flex-column align-items-start justify-content-center"
    style="
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.7);
    "
  >
    <div class="container center text-center">
      <h1 class="fw-bold">Katalog Produk</h1>
      <hr />
      <p class="lead fst-italic">
        Pilihan Produk-produk yang dapat anda kustomisasi.
      </p>
    </div>
  </div>
</div>

<div class="container p-3 text-white">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for produk in katalog %}
    <div class="col">
      <a href="products/{{ produk.nama | lower }}/" style="text-decoration: none; color: black">
        <div class="card shadow-sm">
          <img
          src="{{ produk.gambar.url }}"
          alt=""
          srcset=""
          width="400px"
          height="400px"
          />
          <div class="card-body">
            <h3>{{ produk.nama }}</h3>
            <hr />
            <p class="card-text">
              {{ produk.deskripsi }}
            </p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
