{% extends "base.html" %} {% block content %}
<div
  style="
    height: 75vh;
    background-image: url(https://coolwallpapers.me/picsup/5516264-curtain-wallpapers.jpg);
    background-size: cover;
    background-position: center;
  "
  class="position-relative w-100"
>
  <!-- hero -->
  <div
    class="text-white d-flex flex-column align-items-start justify-content-center h-100"
    style="
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.7);
    "
  >
    <div class="container text-center">
      <div class="col-md justify-content-center">
        <!-- on small screens remove display-4 -->
        <h1 class="mb-4 mt-2 display-4 fw-bold">Tentang Kami</h1>
        <hr />
        {% comment %} <p style="color: #bbb" class="fst-italic">
          Anda dapat menghubungi kami dari informasi terlampir
        </p> {% endcomment %}
      </div>
    </div>
    <div class="container-fluid row">
      <div class="col-2"></div>
      <div class="container col-4 ">
        <!-- hover background-color: white; color: black; --><br><br><br>
        <p class="h3 fw-semibold">ISTANA GORDEN</p>
        <p class="">
          Merupakan usaha di bidang interior yang menyajikan jasa pembuatan
          gorden custom, wallpaper, blinds serta menjual aksesoris gorden secara
          terpisah. Berlokasi di Jl. Raya G.Kawi, Desa Ngajum, Kecamatan Ngajum,
          Kabupaten Malang
        </p>
        <p class="">
          ISTANA GORDEN telah berdiri sejak tahun 2002. dimulai dengan berjualan secara door-to-door untuk menawarkan gorden hingga saat ini telah membuka toko yang berdiri sejak tahun 2013. Dengan pengalaman lebih dari 20 tahun, kami menjamin kualitas produk dan jasa kami, serta kami memprioritaskan untuk menjaga kepercayaan pelanggan dengan memberikan pelayanan terbaik.
        </p>
      </div>
      <div class="container col-4 text-center">
        <!-- hover background-color: white; color: black; -->
        <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d293.588357611726!2d112.53560548196883!3d-8.097420917673999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e789f55f0caa8ab%3A0xc473a2db39f338c7!2sISTANA%20GORDEN!5e0!3m2!1sid!2sid!4v1710861186560!5m2!1sid!2sid"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d293.588357611726!2d112.53560548196883!3d-8.097420917673999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e789f55f0caa8ab%3A0xc473a2db39f338c7!2sISTANA%20GORDEN!5e0!3m2!1sid!2sid!4v1710861186560!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></a>
      </div>
      
      <div class="col-2"></div>
    </div>
  </div>
</div>

<div class="container p-5 text-center text-white">
  <div class="row py-4" id="layanan-kami">
    <div class="col-lg">
      <div style="text-align: left" class="p-2 h2 m-2 fw-bold">
        LAYANAN KAMI
      </div>
      <div style="text-align: left" class="p-2 m-2">
        Istana Gorden melayani tidak hanya penjualan gorden dan aksesoris gorden
        tetapi juga menerima jasa pengantaran gorden dan pemasangan gorden pada
        daerah pelayanan.
      </div>
    </div>
  </div>
  <div class="row py-4" id="bagaimana-kami-bekerja">
    <div class="col-lg">
      <div style="text-align: left" class="p-2 h2 m-2 fw-bold">
        BAGAIMANA KAMI BEKERJA?
      </div>
      <div style="text-align: left" class="p-2 m-2">
        Pelanggan akan diberikan pilihan untuk desain motif, bahan , dan warna
        dari gorden yang akan dipasang, setelah selesai memilih pelanggan akan
        melakukan negosiasi dengan pihak Istana Gorden untuk memastikan ukuran
        gorden dan lokasi pengiriman dan pemasangan.
      </div>
    </div>
  </div>
  <div class="row py-4" id="daerah-pelayanan">
    <div class="col-lg">
      <div style="text-align: left" class="p-2 h2 m-2 fw-bold">
        DAERAH PELAYANAN
      </div>
      <div style="text-align: left" class="p-2 m-2">
        Daerah pelayanan Istana Gorden untuk saat ini mencakup area Kabupaten dan Kota Malang dan sekitarnya. 
      </div>
    </div>
  </div>
</div>
{% endblock %}
